<h1>New Subs Page</h1>
<form action="<%= subs_url %>" method="post">
  <%= auth_token %>
  <label>Title
    <input type="text" name="sub[title]" value="<%= @sub.title %>">
  </label>
  <label>Description
    <textarea name="sub[description]" rows="8" cols="80"></textarea>
  </label>
  <input type="submit" value="Create New Sub">
</form>